body {
    background: rgb(20, 20, 20);
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-top: 5;
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    border: none;
    width: 440px;
    height: 680px;
    top: 50px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forms-inputs {
    position: relative;
}

.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px
}

.forms-inputs input {
    height: 50px;
    width: 100%;
    border: 2px solid #eee;
    border-radius: 3px;

}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid rgb(20, 20, 20)
}

#btn {
    height: 60px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: #eee;
    border: none;
    box-shadow: 2px 2px 1px 0px rgba(164, 164, 164, 0.324);
    border-radius: 3px;
}

#btn:hover {
    background-color: rgb(42, 42, 43);
    transition: background-color 0.2s;
}

.success-data {
    display: flex;
    flex-direction: column
}

.bxs-badge-check {
    font-size: 90px
}

#reminder_btn {
    width: 100%;
    height: 75px;
    background-color: white;
    border: none;
    color: black;
}

#reminder_btn:hover {
    color: rgb(70, 70, 71);
    transition: background-color 0.2s;
}

