.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.box {
    padding: 10px;
    border: 1px solid rgb(117, 116, 116);
    width: 100%;
}

.box .box {
    width: auto;
}

button {
    cursor: pointer;
}
